/* Block */
.userWorkspace {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 100%;
}

/* Element */
.userWorkspace__actions {
  color: var(--text-secondary);
}

.userWorkspace__textPrimary {
  color: var(--text-primary);
}

/* Modifier */
.userWorkspace--noRows {
  background-color: #f5f5f5;
}

/* Element for the DataGrid */
.userWorkspace__dataGrid {
  width: 100%;
  margin-top: 30px;
  background: white;
  --DataGrid-overlayHeight: 300px;
}

/* Element for the noRowsOverlay */
.userWorkspace__noRowsOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
